*,
*::before,
*::after{
    box-sizing:border-box;
}
*{
    padding:0;
    margin:0;
}
:root{
    --bg-main:#0b0b12;
    --text-main: #cfcfe6;
    --accent-soft:#b58cff;
}
body{
    line-height:1.5;
    background-color:var(--bg-main);
    color:var(--text-main);
    font-size:16px;
    margin:0;
    padding:2rem;
    position: relative;
    font-family:system-ui, -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    display:block;
    max-width:100%;
}
section{
    /* border:2px solid red; */
    padding-top:1rem;
    padding-bottom:1rem;
}

.intro-section{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    flex-direction:column;
    position:relative;

}
.intro-content{
    max-width:640px;
    text-align:center;
}
h1,h2,h3{
    font-weight:500;
    line-height:1.2;
}
h1{
    font-size:2.25rem;
    color:var(--accent-soft);
}
h2{
    font-size:1.5rem;
}
h3{
    font-size:1.125rem;
}
p{
    line-height:1.6;
    color:var(--text-main);

}
.container{
    max-width:1100px;
    padding:1.5rem;
    margin: 0 auto;
    /* border:2px solid blue; */
    
}
.hero h2{
    padding-bottom:1.5rem;
}
.hero .container{
    max-width:640px;
    text-align:center;
    margin: 0 auto;
}

.projects-container{
    display:flex;
    flex-direction:column;
    gap:10rem;

}
.project-card{
    position:relative;
    transition:transform 0.2s ease,box-shadow 0.2s ease;
    max-width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
    border-radius:3rem;
    /* border:2px solid white; */
    
}
.card-main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1.5rem;

}
.project-text{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.text-col{
    height:320px;
    display:grid;
    place-items:center;
    text-align:center;
}
.project-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    border-radius:3rem;
    border:2px solid white;    
}
.project-card button{
    align-self:center;
    margin-top:1rem;
    margin-bottom:1rem;
}
.project-card:nth-child(even) img{
    grid-column:2;
    grid-row:1;
}
.project-card:nth-child(even) .text-col{
    grid-column:1;
    grid-row:1;
}

.project-card:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 4px 12px rgba(181, 140, 255, 0.4);
    z-index: 100;
}
.scroll-hint{
    position:absolute;
    bottom:2rem;
    left:50%;
    transform:translateX(-50%);
    
}

.intro-section{
    position:relative;
    overflow:hidden;
}
.intro-section::before{
    content:"";
    position:absolute;
    inset:0;
    background:radial-gradient(
        circle at center,
        rgba(181,140,255,0.18) 0%,
        rgba(11,11,18,0.85)45%,
        #0b0b12 70%
    );
    z-index:0; 
}
.intro-content{
    position:relative;
    z-index:1;
}
.full-description,
.project-link {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}
.project-card.expand .full-description,
.project-card.expand .project-link {
    opacity: 1;
    max-height: 200px;
}
.project-card button{
    border: 2px solid var(--accent-soft);
    color:var(--accent-soft);
    background:transparent;
    padding:0.75rem 1.5rem;
    border-radius:2rem;
    transition:transform 0.3s ease;
    font-size:0.9rem;
}
#add-btn{
    border: 2px solid var(--accent-soft);
    color:var(--accent-soft);
    background:transparent;
    padding:0.75rem 1.5rem;
    border-radius:2rem;
    transition:transform 0.3s ease;
    font-size:0.9rem;
    margin-top:4rem;
}
.project-card button:hover,
#add-btn:hover{
    transform:translateY(-4px);
    cursor:pointer;
    box-shadow: 0 4px 12px rgba(181, 140, 255, 0.4);
}

.popup-overlay{
    position:fixed;
    inset:0;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    pointer-events:none;

    background: rgba(0,0,0,.65);
    backdrop-filter: blur(6px);
}
.popup-overlay.active{
    opacity:1;
    pointer-events:auto;
    transition: opacity .25s ease;
}
.form-layer{
    width:100%;
    max-width:520px;
    padding:32px;
    border-radius:20px;
    background: rgba(255,255,255,0.04);
    transform:translateY(40px) scale(.96);
    
}
.form-layer input,
.form-layer textarea{
  width:100%;
  margin-bottom:14px;
  padding:14px;
  border-radius:12px;
  background:#111118;
  border:1px solid #2a2a3a;
  color:#cfcfe6;
}
.form-layer button[type="submit"]{
  width:100%;
  padding:14px;
  border-radius:12px;

  border:1px solid var(--accent-soft);
  background: rgba(181,140,255,0.15);
  color:var(--accent-soft);

  cursor:pointer;
  transition:.2s ease;
}

.form-layer button[type="submit"]:hover{
  transform: translateY(-2px);
  box-shadow:0 6px 20px rgba(181,140,255,0.35);
}




@media (max-width: 768px) {

  body {
    padding: 1rem;
  }

  .projects-container {
    gap: 3rem;
  }

  .card-main {
    grid-template-columns: 1fr;
  }

  .project-card img {
    height: auto;
  }

  .text-col {
    height: auto;
  }

  .project-card:hover {
    transform: none;
    box-shadow: none;
  }
  .form-layer {
    width: 90%;
    padding: 20px;
  }

}
